*{
  font-family: Arial;
}
@page {
  size: A4;
  margin: .5in;
  /* @top-right {
  content: "Page " counter(pageNumber);
  } */
}
@page wide {
  size: a4 landscape;
}
[id^="item"] {
  page-break-inside: avoid;
}
.table,
.list-group,
.card,
[id^="datos"]{
  page-break-inside: avoid;
}
#item14 {
  page-break-before: always;
}